<% title "Comments" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for comments in @comments %>
    <tr>
      <td><%= comments.content %></td>
      <td><%= link_to "Show", comments %></td>
      <td><%= link_to "Edit", edit_comment_path(comments) %></td>
      <td><%= link_to "Destroy", comments, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Comments", new_comment_path(comments) %></p>
