<div id="respond">
  <h3><%= t('general.registration') %></h3>
<%= simple_form_for (resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :id => "commentform"}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <% if @user.password_required? %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.hidden_field :is_anonym, :value => false %>
  <% end %>  <br/>
  <%= f.button :submit, "Update" %>
<% end %>
</div>
<%= link_to "Back", :back %>
