<div id="respond">

  <h3><%= t('general.registration') %></h3>

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:id => 'commentform'}) do |f| %>
      <%= f.input :name, :label => t('general.name') %>
      <%= f.input :last_name, :label => t('general.last_name') %>
      <%= f.input :email, :label => t('general.email') %>
      <%= f.input :phone, :label => t('general.phone') %>
      <% if @user.password_required? %>
          <%= f.input :password, :label => t('general.password') %>
          <%= f.input :password_confirmation, :label => t('general.password_confirm') %>
          <%= f.hidden_field :is_anonym, :value => false %>
      <% end %>
      <br/>
      <%= f.button :submit, :label => t('general.button') %>
  <% end %>
  
</div>