<%= javascript_include_tag "http://www.google.com/jsapi", "markerclusterer" %>
<script type="text/javascript">
  var arr = <%= @reports.to_json(:only => [:coordinates, :address, :subject, :id, :image_file_name, :solved], :include => :assets).html_safe%>;

  google.load('maps', '3', {
    other_params: 'sensor=false'
  });

  google.setOnLoadCallback(initialize);

  function initialize() {
    this.getKgMap(41.269550, 74.766098, 7);
  }

</script>
<div id="featured" class="col-full">
  <div id="loopedSlider">
    <div class="container" style="height: 470px; display: block;">
      <div class="map" id="cluster_map" style="height:450px;"></div>
    </div>
    <div class="fix"></div>
    <div class="slider-nav col-full">
      <ul class="pagination">
        <li class=""><a href="#" onclick="goto_state('bi');" rel="1">Бишкек</a></li>
        <li class=""><a href="#" onclick="goto_state('co');" rel="2">Чуй</a></li>
        <li class=""><a href="#" onclick="goto_state('oo');" rel="3">Ош</a></li>
        <li class=""><a href="#" onclick="goto_state('bo');" rel="3">Баткен</a></li>
        <li class=""><a href="#" onclick="goto_state('jo');" rel="3">Джалал-Абад</a></li>
        <li class=""><a href="#" onclick="goto_state('to');" rel="3">Талас</a></li>
        <li class=""><a href="#" onclick="goto_state('no');" rel="3">Нарын</a></li>
        <li class=""><a href="#" onclick="goto_state('io');" rel="3">Иссык-Куль</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="content" class="col-full">
  <div id="block">
    <div id="solved">
      <h1>Решенные проблемы</h1>
      <ul>
        <% @reports = Report.where(:solved => true).limit(5).order("created_at desc") %>
        <% for reports in @reports %>
          <li><span class="number">№ <%= link_to reports.id, reports %></span>
            <span class="date_main"><%= short_date(reports.created_at) %></span><br><br>
            <b><%= t('general.subject') %></b> <%= link_to reports.subject, reports %>
            <br>
            <b><%= t('general.description') %></b> </b> <%= truncate(reports.description, :length => 200, :omission => "...") %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="unsolved">
      <h1>Нерешенные проблемы</h1>
      <ul>
        <% @reports = Report.where(:solved => false).limit(5).order("created_at desc") %>
        <% for reports in @reports %>
          <li><span class="number">№ <%= link_to reports.id, reports %></span>
            <span class="date_main"><%= short_date(reports.created_at) %></span><br><br>
            <b><%= t('general.subject') %></b> <%= link_to reports.subject, reports %>
            <br>
            <b><%= t('general.description') %></b> </b> <%= truncate(reports.description, :length => 200, :omission => "...") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<br>
<div id="main" class="col-left box">
  <div id="orders_chart" style="width: 540px;">
    <script type="text/javascript" charset="utf-8">
      $(function() {
        new Highcharts.Chart({
          chart: {
            renderTo: 'orders_chart',
            defaultSeriesType: 'spline',
            width: 538,
            height: 240,
            borderWidth: 1
          },
          xAxis: {
            type: 'datetime',
            labels: {
              style: {
                color: '#000',
                font: '11px Trebuchet MS, Verdana, sans-serif'
              }
            }
          },
          yAxis: {
            min: 0,
            title: { text: 'Reports' },
            labels: {
              style: {
                color: '#000',
                font: '11px Trebuchet MS, Verdana, sans-serif'
              }
            }
          },
          title: { text: 'Статистика проблем' },
          plotOptions: {
            series: {
              cursor: 'pointer'
            }
          },
          tooltip: {
            formatter: function () {
              return Highcharts.dateFormat("%B %e %Y", this.x) + ' Найдено ' + ': ' + Highcharts.numberFormat(this.y, 0);
            }
          },
          series: [
            {
              name: "Проблемы",
              pointInterval: <%= 1.day * 1000 %>,
              pointStart: <%= 2.weeks.ago.at_midnight.to_i * 1000 %>,
              data: <%= (2.weeks.ago.to_date..Date.today).map { |date| Report.total_on(date)}.inspect %>
            }
          ]
        });
      });
    </script>
  </div>
</div>

<div id="sidebar" class="col-right">
  <!-- Widgetized Sidebar -->
  <div class="widget widget_pages"><h3>Статистика</h3>

    <div id="month_stat">
      <%= Report.total_month() %>
    </div>

  </div>
</div>