<% for reports in @reports %>
    <%= status_tag(reports.solved) %>
    <p>
      <strong><%= t('general.subject') %>:</strong>
      <%= reports.subject %>
    </p>
    <p>
      <strong><%= t('general.description') %></strong>
      <%= truncate(reports.description, :length => 200, :omission => "...").html_safe %>
    </p>
    <p>
      <strong><%= t('general.category') %></strong>
      <%= reports.category.name %>
    </p>
    <p>
      <strong><%= t('general.state') %></strong>
      <%= reports.address %>
    </p>
    <p>
      <%= link_to t('general.show'), reports %>
      <% if admin? %>
          <%= link_to t('general.edit'), edit_report_path(reports) %>
          <%= link_to t('general.destroy'), reports, :confirm => t('general.confirm'), :method => :delete %>
      <% end %>
    <hr>
    </p>
<% end %>
<%= will_paginate @reports %>