<% @page_title = 'Reports list' %>

<div id="main" class='col-left box'>
  <h3><%= t('general.recent_reports') %></h3><br/>

  <div class="count">
    <% if I18n.locale == :en %>
        <%= pluralize(@reports.size, 'report') %> found
    <% else %>
        Найдено проблем <%= pluralize(@reports.size, '') %>
    <% end %>
  </div>
  <br/>
<% javascript 'pagination' %>
<div id="reports">
    <%= render 'reports' %>
</div>

 

</div>

<div id="sidebar" class="col-right">
  <div class="widget">
    <h1>Последние новости</h1>
        <% @articles = @article.order("created_at desc").limit(5) %>
        <% for articles in @articles %>
            <b><%= articles.title %></b><br>
            <p><%= truncate(articles.content, :length => 300, :omission => "...").html_safe %></p>
            <span class="date_main"><%= articles.created_at %></span><br><br>
        <% end %>
  </div>
  <div class='widget'>
    <h3>Последние комментарии</h3>
    <!--<%# @comments.each do |comment| %>-->
        <!--<div class="comments_show">-->
          <!--<span class="author_name"><%#= comment.author %></span>-->
          <!--<span class="author_created_comment"><%#= display_date(comment.created_at) %></span>          <br>-->
          <!--<span class="comment_content"><%#= comment.content %></span>-->
          <!---->
        <!--</div>-->
        <!--<br>-->
    <!--<%# end %>-->
    <%= raw disqus_recent_comments(:color => "blue", :hide_mods => false, :num_items => 5, :avatar_size => 24)%>
  </div>
</div>
