<script type="text/javascript">
  
  var bi_0 = <%= Report.get_problem_count(8, false) %>;
  var bi_1 = <%= Report.get_problem_count(8, true) %>;

  var co_0 = <%= Report.get_problem_count(1, false) %>;
  var co_1 = <%= Report.get_problem_count(1, true) %>;

  var oo_0 = <%= Report.get_problem_count(2, false) %>;
  var oo_1 = <%= Report.get_problem_count(2, true) %>;

  var bo_0 = <%= Report.get_problem_count(3, false) %>;
  var bo_1 = <%= Report.get_problem_count(3, true) %>;

  var jo_0 = <%= Report.get_problem_count(4, false) %>;
  var jo_1 = <%= Report.get_problem_count(4, true) %>;

  var to_0 = <%= Report.get_problem_count(5, false) %>;
  var to_1 = <%= Report.get_problem_count(5, true) %>;

  var io_0 = <%= Report.get_problem_count(6, false) %>;
  var io_1 = <%= Report.get_problem_count(6, true) %>;

  var no_0 = <%= Report.get_problem_count(7, false) %>;
  var no_1 = <%= Report.get_problem_count(7, true) %>;


  $(function() {
    $('#respond :input').attr('disabled', true);
  });


</script>
<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&language=ru", "gmap", "epoly3" %>

<% @page_title = 'New report' %>
<h3><%= t('general.report_new') %></h3><br/>

<div id="featured" class="col-full">
  <div id="loopedSlider">

    <div class="container" style="height: 470px; display: block;">
      <div class="map" id="report_map" style="height:450px;"></div>
    </div>

    <div class="fix"></div>

    <div class="slider-nav col-full">

      <ul class="pagination">
        <li><a href="javascript:void(0);" onclick="goto_state('bi');" rel="1">Бишкек</a></li>
        <li><a href="javascript:void(0);" onclick="goto_state('co');" rel="2">Чуй</a></li>
        <li><a href="javascript:void(0);" onclick="goto_state('oo');" rel="3">Ош</a></li>
        <li><a href="javascript:void(0);" onclick="goto_state('bo');" rel="4">Баткен</a></li>
        <li><a href="javascript:void(0);" onclick="goto_state('jo');" rel="5">Джалал-Абад</a></li>
        <li><a href="javascript:void(0);" onclick="goto_state('to');" rel="6">Талас</a></li>
        <li><a href="javascript:void(0);" onclick="goto_state('no');" rel="7">Нарын</a></li>
        <li><a href="javascript:void(0);" onclick="goto_state('io');" rel="8">Иссык-Куль</a></li>
      </ul>
    </div>
  </div>

</div>

<div id="content" class="col-full">
  <div id="main" class="col-left box hidden_report_form">
    <div class="post-2 page type-page hentry">
      <h2 class="title"><%= t('general.report_form') %></h2>

      <div class="entry">
        <h4 id="before-notice" style="color:red;">Выберите область и укажите место</h4>
      </div>

    </div>

    <div id="respond">
      <%= render 'form' %>
    </div>
  </div>
  <div id="sidebar" class="col-right">
    <div class="widget widget_pages">
      <h3>Инструкция</h3>
      <p>Для того чтобы сообщить о проблеме вам необходио указать адресс на карте.</p>
      <p>Вы можете подкорректировать выбранный адресс вручную</p>
    </div>
  </div>
</div>
