<%= javascript_include_tag 'easySlider1.5' %>

<% @page_title = 'Show report' %>

<div id="main" class='col-left box'>
  <h3><%= t('general.report') %></h3><br>

  <p>
    <strong><%= t('general.subject') %>:</strong>
    <%= @reports.subject %>
  </p>

  <p>
    <strong><%= t('general.description') %>:</strong>
    <%= @reports.description.html_safe %>
  </p>

  <p>
    <strong><%= t('general.reporter') %>:</strong>
    <%= @reports.user.full_name %>
  </p>

  <p>
    <strong><%= t('general.date') %>:</strong>
    <%= display_date(@reports.created_at) %>
  </p>

  <p>
    <strong><%= t('general.state') %></strong>
    <%= @reports.address %>
  </p>
  <% if admin? %>
      <p><%= link_to t('general.edit'), edit_report_path(@reports) %> |
        <%= link_to t('general.destroy'), @reports, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to t('general.view'), reports_path %> |
  <%= link_to 'Поддержать ', vote_up_report_path(@reports), :remote => true, :method => :post, :title => "Нажмите чтобы проголосовать!" %>
  <span class="vote-count"><%= @reports.votes_count %></span></p>

  <%= raw(disqus_thread) %>
</div>
<div id="sidebar" class="col-right">
  <div class='widget'>
    <div class="static_map widget"></div>
  </div>

  <script type="text/javascript">
      var arr = <%= @reports.to_json(:only => [:coordinates, :id, :image_file_name], :include => :assets).html_safe %>;
      var latLng = arr['report']['coordinates'];

      $(document).ready(function() {

          $('.static_map').html("<img src='http://maps.google.com/maps/api/staticmap?center=" + latLng + "&zoom=15&size=306x238&&markers=color:blue|label:P|" + latLng + "&sensor=false'/>");

          if (!arr['report']['assets'].length == 0) {
              for (var i = 0; i < arr['report']['assets'].length; i++) {
                  var image_id = arr['report']['assets'][i]['id'];
                  var image_name = arr['report']['assets'][i]['image_file_name'];

                  $('#slider ul').each(function() {
                      $(this).append("<li><img style='width:302px; margin:2px;' src='/system/images/" + image_id + "/thumb/" + image_name + "'/></li>")
                  });
              }

              $("#slider").easySlider({
                  auto: true,
                  continuous: true,
                  prevText : 'Предыдущий ',
                  nextText : 'Следующий'
              });
          } else {
              $('#attached_images').remove();
          }
      });
  </script>
  <div class="widget" id="attached_images">
    <strong><%= t('general.photo') %>: </strong>

    <div class="images_widget widget">
      <div class="thumbnail" id="slider">
        <ul></ul>
      </div>
    </div>
  </div>
</div>
