<% @page_title = 'Show report' %>

<div id="main" class='col-left box'>
  <h3><%= t('general.report') %></h3><br>

  <p>
    <strong><%= t('general.subject') %>:</strong>
    <%= @reports.subject %>
  </p>

  <p>
    <strong><%= t('general.description') %>:</strong>
    <%= @reports.description %>
  </p>

  <p>
    <strong><%= t('general.reporter') %>:</strong>
    <%= @reports.user.full_name %>
  </p>

  <p>
    <strong><%= t('general.date') %>:</strong>
    <%= display_date(@reports.created_at) %>
  </p>

  <p>
    <strong><%= t('general.state') %></strong>
    <%= @reports.address %>
  </p>
  <% if admin? %>
    <p><%= link_to t('general.edit'), edit_report_path(@reports) %> |
    <%= link_to t('general.destroy'), @reports, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to t('general.view'), reports_path %></p>

  <%= raw(disqus_thread) %>
</div>

<div id="sidebar" class="col-right">
  <div class='widget'>
    <script type='text/javascript'>
        $(function() {
            $('.static_map').each(function() {
                var latLng = "<%= escape_javascript(@reports.coordinates) %>";
                $(this).html("<img src='http://maps.google.com/maps/api/staticmap?center=" + latLng + "&zoom=15&size=306x238&&markers=color:blue|label:P|" + latLng + "&sensor=false'/>")
            });
        });
    </script>
    <div class="static_map widget"></div>
  </div>
  <div class="widget">

    <strong><%= t('general.photo') %>: </strong>

    <div class="images_widget widget">
      <%= form_for(@reports, :html => {:multipart => true}) do |f| %>
          <% f.fields_for :assets do |asset| %>
              <% unless asset.object.new_record? %>
                  <div class="thumbnail">
                    <%= link_to(image_tag(asset.object.image.url(:thumb)), asset.object.image.url(:large)) %>
                  </div>
              <% end %>
          <% end %>
      <% end %>
    </div>

  </div>
</div>
